<nav>
  <div class="brand">FabLab</div>
  <div>
      <a href="/">Accueil</a>
      <a href="/machines">Machines</a>
      <a href="/reservations">Réservations</a>
      <a href="/profile">Profil</a>
  </div>
</nav>